body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--base-text-color);
    background: #fbf5f0;
    font: 1.6rem / 1.5 'Mulish', sans-serif;
    min-width: 320px;
    letter-spacing: 0.2px;
}
.sign__form {
    position: relative;
    width: 100%;
    max-width: 57.6rem;
    background-color: #ffffff;
    padding: 24px 24px 32px;
}
.section {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 3.2rem 4rem;
}
.container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    max-width: 130rem;
}
.sign__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
form,
fieldset {
    margin: 0;
    padding: 0;
    border-style: none;
    border-radius: 0.8rem;
}
.form {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.form__field {
    position: relative;
    width: 100%;
    margin-bottom: 1.6rem;
}
.form__field.buttons {
    padding-top: 0.9rem;
}

.form__field.buttons:last-child {
    margin-bottom: 0;
}

.form__field.buttons button {
    width: 100%;
    min-height: 48px;
}
.button {
    position: relative;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 0.8rem;
    font-size: 1.8rem;
    font-weight: 700;
    text-decoration: none;
    outline: none;
    border: none;
    padding: 1.5rem 3rem;
}
.password-tooltip .tooltip {
    position: absolute;
    right: -65px;
    top: -5px;
    z-index: 0;
}
.password-tooltip .tooltip-icon {
    visibility: hidden;
}

.tooltip-icon {
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 1.4rem;
    height: 1.4rem;
    color: #ffffff;
    padding: 0.1rem;
    border-radius: 100%;
}

.tooltip-icon:before {
    content: '';
    position: absolute;
    z-index: 0;
    width: 0.7rem;
    height: 0.7rem;
    background: var(--color-dark);
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 100%;
}

.password-tooltip .tooltip_text {
    opacity: 1;
    visibility: visible;
    padding: 16px;
    max-width: 246px;
}

.tooltip_text {
    position: absolute;
    border-radius: 0.4rem;
    background: #354253;
    color: #ffffff;
    padding: 0.8rem;
    font-weight: 400;
    font-size: 1.1rem;
    z-index: 2;
    top: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    width: max-content;
    max-width: 22.4rem;
    text-align: left;
}

.tooltip-arrow {
    background: #354253;
    width: 15px;
    height: 15px;
    position: absolute;
    left: -7px;
    transform: rotate(45deg);
    border-radius: 2px;
}

.password-tooltip .tooltip_text .pwd-info-title {
    font-weight: 700;
    font-size: 12px;
    border-bottom: 0.8px dashed rgba(255, 255, 255, 0.3);
    line-height: 14px;
    padding-bottom: 12px;
    margin-bottom: 12px;
}

.pwd-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.password-tooltip .tooltip_text .pwd-info .tooltip-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #ffffff;
    opacity: inherit;
}

.fp-text {
    align-items: center;
    text-align: center;
    letter-spacing: 0.3px;
    color: #354253;
    font-weight: 400;
    font-size: 16px;
    margin-top: 7px;
}
