.conentWrapper{
    padding: 16px 32px;
    background-color: var(--white) ; 
}

.settings_form {
    position: relative;
    width: 100%;
    max-width: 57.6rem;
    background-color: var(--white);
    padding: 3rem 0px;
}

.setting-section h1 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2rem;
}

.asterisk-red {
    color: #eb5757;
}
