:root {
    --phone: 480px;
    --tablet: 768px;
    --desktop: 980px;
    --widescreen: 1200px;
    --color-white: #fff;
    --color-offwhite: #ede7d8;
    --color-black: #000;
    --color-navy: #354253;
    --color-dark: #23272a;
    --color-grey-1: #333;
    --color-grey-2: #4f4f4f;
    --color-grey-3: #828282;
    --color-grey-4: #bdbdbd;
    --color-grey-5: #e0e0e0;
    --color-grey-6: #f2f2f2;
    --color-grey-7: #f9f9f9;
    --color-blue: #39f;
    --color-blue-dark: #6953e7;
    --color-red: #eb5757;
    --color-green-1: #219653;
    --color-yellow: #f2c94c;
    --color-orange: #f2994a;
    --color-orange-100: #bd6f34;
    --color-orange-tint-80: #cd8249;
    --color-orange-tint-70: #d18d58;
    --color-orange-tint-50: #daa277;
    --color-orange-tint-40: #deac86;
    --color-orange-tint-30: #e2b695;
    --color-orange-tint-20: #e6c1a4;
    --color-orange-tint-10: #eacbb3;
    --color-orange-tint-6: #f3e0d2;
    --color-orange-tint-4: #f7eae1;
    --color-orange-tint-2: #fbf5f0;
    --color-orange-tint-1: #fffcf9;
    --color-orange-shade-100: #bd6f34;
    --color-orange-shade-90: #af6730;
    --color-orange-shade-80: #a15f2c;
    --color-orange-shade-70: #945728;
    --color-orange-shade-60: #864f25;
    --color-orange-shade-50: #794721;
    --color-orange-shade-40: #794721;
    --color-orange-shade-30: #5e371a;
    --color-orange-shade-20: #512f16;
    --color-orange-shade-10: #432812;
    --color-orange-shade-8: #36200f;
    --color-orange-shade-6: #28180b;
    --color-orange-shade-4: #1b1007;
    --color-orange-shade-2: #0d0804;
    --font-sans-serif: Mulish, sans-serif;
    --font-serif: 'Times New Roman', Times, Baskerville, Georgia, serif;
    --base-background-color: var(--color-white);
    --base-font-family: var(--font-sans-serif);
    --base-font-size: var(--text);
    --base-line-height: 1.42;
    --base-text-color: var(--color-navy);
    --base-border-radius: 0.4rem;
    --base-min-width: 320px;
    --gap: 15px;
    --base-link-color: var(--color-orange-100);
    --btn-color: var(--color-white);
    --btn-background: var(--color-orange-100);
    --btn-background-active: var(--color-white);
    --btn-height: 2.5em;
    --btn-radius: 0.333em;
    --btn-padding: 0.5em 1em;
    --btn-font-size: 1.2rem;
    --btn-font-family: var(--font-sans-serif);
    --form-font-family: var(--font-sans-serif);
    --form-font-size: 1.4rem;
    --form-element-padding: 0.35714285714em 0.57142857142em;
    --form-element-border-color: var(--color-white);
    --form-element-focus-border-color: var(--color-orange-100);
    --placeholder-color: #808084;
    --headings-font-family: var(--font-sans-serif);
    --headings-color: var(--base-text-color);
    --headings-sizes-h1: 2.4rem;
    --headings-sizes-h2: 2rem;
    --headings-sizes-h3: 1.8rem;
    --headings-sizes-h4: 1.6rem;
    --headings-sizes-h5: 1.4rem;
    --headings-sizes-h6: 1.2rem;
    --text: 1.4rem;
    --h-height-top: 5.2rem;
    --h-height-bottom: 4rem;
    --h-height: calc(var(--h-height-bottom) + var(--h-height-top));
    --color-blue: #2f80ed;
    --h-pos: fixed;
    --h-z: 10;
    --h-pd-top: 1rem 0.8rem 1rem 2.4rem;
    --h-pd-bottom: 0.5rem 1.6rem;
    --h-fz: inherit;
    --h-bg: var(--color-white);
}

.gettingpaid-tab .wp-right .form-control {
    padding-left: 0;
}

input[type='number'] {
    -webkit-appearance: none;
    appearance: none;
    box-sizing: border-box;
    font-family: var(--form-font-family);
    border-radius: 0;
    border: 0.1rem solid var(--form-element-border-color);
    padding: var(--form-element-padding);
    outline: none;
}

.gettingpaid-tab .wp-right .form-control {
    padding-left: 0;
}

input[type='number'] {
    -webkit-appearance: none;
    appearance: none;
    box-sizing: border-box;
    font-family: var(--form-font-family);
    border-radius: 0;
    border: 0.1rem solid var(--form-element-border-color);
    padding: var(--form-element-padding);
    outline: none;
}

.gp-link-area a {
    cursor: pointer;
}

.summary-icon:hover {
    filter: brightness(0);
}

.loader_area {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0px auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 9;
    height: 100%;

    .loader {
        position: absolute;
        width: 101px;
        left: 0;
        right: 0;
        margin: 0px auto;
        display: flex;
        text-align: center;
        height: 101px;
        top: 10%;
        z-index: 11;
    }
}

.gp-right .form-submit .button-grey {
    img {
        transform: rotate(180deg);
        filter: invert(100%);
    }

    &:hover img {
        filter: invert(0);
    }
}

.error-text {
    color: var(--color-red);
    font-size: 12px;
    display: block;
    text-align: left;
}

.gp-right .form-submit .button-grey {
    img {
        transform: rotate(180deg);
        filter: invert(100%);
    }

    &:hover img {
        filter: invert(0);
    }
}

.connect_shopify {
    height: 4rem !important;
    width: 12rem;
    font-size: 16px !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

.setting-section .tabs .tab-links:hover {
    z-index: 1;
    opacity: 1;
}

.setting-section .form-upload-image .icon {
    background-color: white;
    border-radius: 4px;
}

.brand-checklist-error {
    display: flex;
    width: 100%;
}

.form-upload-image a.remove-logo {
    width: 100px;
}

.setting-section .form-upload-image .icon:hover {
    cursor: pointer;
}

.filters-clear {
    cursor: pointer;
}

//Orders Page

.table-icon {
    width: 8px;
    margin-left: 10px;
    height: 5px;
}

.mp-content .datalist-table_wrap {
    height: auto;
}

.setting-section h1 {
    font-size: 2.4rem;
}

.setting-section .products_head {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.mp-content .order_table .my_list-table td,
.mp-content .order_table .my_list-table td:nth-last-child(2),
.mp-content .order_table .my_list-table th,
.mp-content .order_table .my_list-table th:nth-last-child(2) {
    width: 12.25%;
    max-width: 12.25%;
}

.mp-content .order_table .my_list-table td.black-envelope-action,
.mp-content .order_table .my_list-table th.black-envelope-action {
    width: 2%;
    max-width: 2%;
}

.mp-content .datalist-table .tr-body td,
.mp-content .datalist-table .tr-head td {
    border-bottom: none;
    width: 12.25%;
    max-width: 12%;
}

.order_table .text-bolder {
    font-weight: 700 !important;
}

.order_table img.icon.parent-arrow {
    width: 13px;
    max-width: 13px;
}

.order_table button.black-arrow-action {
    border-radius: 3px;
    background-color: white;
    padding: 0 5px;
    border-style: none;
    vertical-align: middle;
}

.down-arrow-transform {
    transform: rotate(180deg);
}

.sort .icon {
    fill: currentColor;
    stroke: currentColor;
    color: inherit;
    width: 100%;
    height: 50%;
}

.datalist-table .op_table .order_show ~ .tr-body:hover,
.order_table .tr-body:hover {
    background: #f7eae1;
}

.mp-content
    .order_table
    .my_list-table
    td.black-envelope-action
    .black-envelope {
    height: 25px;
}

.tracking_num {
    font-weight: 700;
    text-decoration: none;
}

.ant-modal-content {
    width: 640px;
    height: 100%;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.text h1 {
    color: #bd6f34;
    font-family: Mulish, sans-serif;
}

.text p {
    text-align: center;
}

.text-a {
    color: #bd6f34;
}

.footerbuttons {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    gap: 1rem;
}

.button.button-dark,
.button.button-red {
    width: 283px;
    height: 45px;
    font-size: 18px;
}

.iconinfo {
    display: flex;
    justify-content: center;
}

.required-icon {
    height: 60px;
    width: 60px;
    margin: 3rem 0rem 2.3rem 0rem;
}

.form-input.form-submit.mt-5 {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.button.button-grey.cancel.large,
.button.user-added.large {
    width: 49%;
}

.form-group h1 {
    color: #bd6f34;
    font-family: Mulish, sans-serif;
}

.tab.active {
    width: 100%;
}

.table-head {
    width: 100%;
}

.button-parent {
    width: 100%;
    display: flex;
    justify-content: end;
    position: relative;
}

.button-delete-table {
    background: #eb5757;
    height: 30px;
    border: 0.2rem solid #eb5757;
    border-radius: 4px;
}

.button-edit-table {
    background: #bd6f34;
    height: 30px;
    border: 0.2rem solid #bd6f34;
    border-radius: 4px;
    color: white;
    font-weight: 700;
    margin-right: 10px;
}

// .products_head {
//     position: sticky !important;
//     top: 0;
//     z-index: 1;
// }
// .products-content {
//     overflow: scroll;
//     height: 100%;
//     background-color: white !important;
// }
// .products_head {
//     height: auto !important;
// }
// .mp-content .datalist-table_wrap {
//     height: auto !important;
//     overflow: auto;
//     border-radius: 0.8rem !important;
// }
// .mp-content .my_list-body {
//     padding: none;
//     height: auto !important;
// }
// .my_list-body {
//     padding: 0px 24px 24px !important;
// }
// .products_head {
//     padding: 24px 24px 15px !important;
// }
// .my_list-body.order_table {
//     background: white !important;
// }
// .my_list-table-wrap {
//     margin-bottom: 4rem !important;
// }
// .my_list-body .pagination {
//     border: none !important;
//     border-top: 1px solid rgba(0, 0, 0, 0.12) !important;
// }

.pl-0 {
    padding-left: 0 !important;
}

.button-delete-table:hover {
    cursor: pointer;
}

.preferences_info.mt-4 {
    background: #fbf5f0;
    border-radius: 8px;
    padding: 6px 14px 20px 20px;
}

.basic-single {
    margin-top: 14px;
}

.preferences_info .wp-left label,
.preferences_info .wp-right label {
    font-weight: 700;
}

.integration_url .button {
    position: relative;
    display: inline-flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background: var(--btn-background);
    padding: var(--btn-padding);
    height: var(--btn-height);
    border-radius: var(--btn-radius);
    border: 0.2rem solid var(--btn-background);
    font-size: var(--btn-font-size);
    font-family: var(--btn-font-family);
    font-weight: 700;
    letter-spacing: 0.05em;
    color: var(--btn-color);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    gap: 1rem;
}

.integration_url .button.button-dark {
    --btn-background: var(--color-navy);
    --btn-color: var(--color-white);
    width: auto;
}

.popup {
    opacity: 1 !important;
    visibility: visible !important;
}

//Product List

.button-white.cancel {
    margin-right: 5px;
}

.button-dark,
.button-dark-black {
    --btn-background: var(--color-navy);
    --btn-color: var(--color-white);
}

.button-dark-red {
    --btn-background: var(--color-red);
    --btn-color: var(--color-white);
}

.button-white.cancel {
    margin-right: 5px;
}

.pc_tabs .tabs_body-tabs {
    display: flex;
    flex-direction: column;
    max-height: calc(100% - 3rem);
    height: 100%;
}

.my_list-table .down-arrow .icon {
    width: 0.9rem;
    height: 0.9rem;
}

.pc_tabs .tabs_body-tabs {
    border-top: 1px solid #e0e0e0;
    padding: 15px;
}

.setting-section .tabs .tab_menu.direction-row {
    flex-direction: row;
}

//Product List End

.cursor-pointer {
    cursor: pointer;
}

.copyLinkArea .button {
    width: 100%;
    font-size: 1.6rem;
    height: 40px;
    max-width: 120px;
}

.copyLinkArea input {
    border: 1px solid #b3b2b5;
    border-radius: 4px;
}

.emailTemplateArea h4 {
    font-weight: 700;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 16px;
}

.emailTemplateArea {
    margin-top: 24px;
}

.emailText {
    border: 1px solid #e0e0e0;
    border-radius: 8px 4px 4px 8px;
    background: #ffffff;
    padding: 16px;
    overflow: auto;
    height: 280px;
    margin-bottom: 16px;
}

.emailText h5 {
    color: #354253;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 8px;
    margin-top: 14px;
}

.emailTextItem {
    overflow: auto;
}

.emailText::-webkit-scrollbar-track {
    background-color: var(--color-white);
    border-radius: 0.4rem;
    border: 1px solid #dfdfe0;
    border-right: none;
}

.emailText::-webkit-scrollbar-thumb {
    border-radius: 0.4rem;
    background: #7d7d7d;
}

.action .button {
    width: 120px;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
}

.form_brands > * {
    background-color: var(--color-white);
    min-height: 100%;
    padding: 2.4rem;
    border-radius: 0.8rem;
    margin-bottom: 0.8rem;
    width: 100%;
}

.txt span[id='stock'] {
    display: flex;
    align-items: center;
    gap: 5px;
}

.retailer-area span[id='add_retailer'] {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    right: 10px;
}

.cursor-pointer {
    cursor: pointer;
}

.add-item-label span {
    margin-top: -2px;
}

.popup-display.pd-varient .action-head .icon {
    width: 16px;
    height: 16px;
}

.pd-varient .action-head,
.category-modal .action-head {
    display: flex;
}

.select_wrap {
    width: 250px;
    margin: 0 auto;
    position: relative;
    user-select: none;
    height: 32px;
    border: 1px solid #354253;
    border-radius: 4px;
    transition: color 0.2s ease, border-color 0.2s ease;
}

.select_wrap .default_option {
    background: #fbf5f0;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    padding: 0;
    margin: 0;
    font-size: 13px;
}

.select_wrap .default_option:before {
    margin-right: 4px;
    transform: scale(0.96, 0.8) rotate(50deg);
}

.select_wrap .default_option:after {
    transform: scale(0.96, 0.8) rotate(-50deg);
}

.select_wrap .default_option:before,
.select_wrap .default_option:after {
    content: '';
    display: block;
    position: absolute;
    width: 6px;
    height: 1px;
    border-radius: 1px;
    top: 50%;
    right: 12px;
    background: #000;
    transition: all 0.3s ease;
}

.select_wrap .default_option:before,
.select_wrap .default_option:after {
    content: '';
    display: block;
    position: absolute;
    width: 6px;
    height: 1px;
    border-radius: 1px;
    top: 50%;
    right: 12px;
    background: #000;
    transition: all 0.3s ease;
}

.select_wrap .default_option li {
    padding: 5px 12px;
    list-style: none;
}

.select_wrap .option {
    display: flex;
    align-items: center;
}

.select_wrap .select_ul {
    position: absolute;
    top: 33px;
    left: 0;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    display: none;
    margin: 0;
}

.select_wrap .select_ul li {
    padding: 8px 12px;
    cursor: pointer;
    list-style: none;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    color: #bd6f34;
}

.select_wrap .option {
    display: flex;
    align-items: center;
}

.select_wrap.active {
    border: 1px solid #d46f2c;
    transition: color 0.2s ease, border-color 0.2s ease;
}

.select_wrap.active .select_ul {
    display: block;
    z-index: 10;
    padding: 0;
}

.select_wrap .select_ul li:first-child:hover {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.select_wrap .select_ul li:hover {
    color: #bd6f34;
    background: #fbf5f0;
}

.hide {
    display: none;
}

.close-icon {
    fill: white;
}

.my-product-modal .tabs .tab-link {
    max-width: 130px;
}

.pd-retailer-modal .popup_content {
    width: 100%;
}
