.check-container{
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
    justify-content: start;
    align-items: center;
}

.item {
    width: calc(33.33% - 0.4rem);
    justify-content: flex-start;
}

.checkbox {
    position: relative;
    display: flex;
    width: 100%;
    height: 4rem;
    cursor: pointer;
    border: 1px solid #EACBB3;
    background: #FBF5F0;
   
}

.checkbox-selected {
    position: relative;
    display: flex;
    width: 100%;
    height: 4rem;
    cursor: pointer;
    border: 2px solid #C9632B;
    align-items: center;
    background:var(--color-white);
}

.checkbox-img {
   width: 2rem;
   height: 2rem;
   margin-left: 1rem;
}

.checkbox-text {
    color: var(--color-orange-tint-20);
    padding-left: 1rem;
}
.checkbox-text-selected {
    color: var(--base-text-color);
    padding-left: 1rem;
}
.checkbox-span {
    color: #808084;
}