@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;0,1000;1,200;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;0,1000;1,200;1,300;1,400;1,500&display=swap');

:root {
    --grey: #999;
    --blue: #39f;
    --orange-100: #bd6f34;
    --orange-tint-90: #c9783a;
    --orange-tint-80: #cd8249;
    --orange-tint-70: #d18d58;
    --orange-tint-60: #d59767;
    --orange-tint-50: #daa277;
    --orange-tint-40: #deac86;
    --orange-tint-30: #e2b695;
    --orange-tint-20: #e6c1a4;
    --orange-tint-10: #eacbb3;
    --orange-tint-8: #eed5c2;
    --orange-tint-6: #f3e0d2;
    --orange-tint-4: #f7eae1;
    --orange-tint-2: #fbf5f0;
    --white: #fff;
    --orange-shade-100: #bd6f34;
    --orange-shade-90: #af6730;
    --orange-shade-80: #a15f2c;
    --orange-shade-70: #945728;
    --orange-shade-60: #864f25;
    --orange-shade-50: #794721;
    --orange-shade-40: #794721;
    --orange-shade-30: #5e371a;
    --orange-shade-20: #512f16;
    --orange-shade-10: #432812;
    --orange-shade-8: #36200f;
    --orange-shade-6: #28180b;
    --orange-shade-4: #1b1007;
    --orange-shade-2: #0d0804;
    --black: #000;
    --off-white: #ede7d8;
    --navy: #354253;
    --green: #27ae60;
    --yellow: #f2c94c;
    --red: #eb5757;
    --font-sans-serif: 'Mulish', sans-serif;
    --font-serif: 'Times New Roman', Times, Baskerville, Georgia, serif;
    --base-background-color: var(--orange-tint-2);
    --base-font-family: var(--font-sans-serif);
    --base-font-size: 1.6rem;
    --base-line-height: 1.5;
    --base-ls: 0.2px;
    --base-text-color: var(--black);
    --base-min-width: 320px;
    --base-transition-speed: 0.2s;
    --base-link-color: var(--orange-100);
    --heading-font: 'Montserrat', sans-serif;
    --headings-sizes-h1: 4rem;
    --headings-sizes-h2: 2.7rem;
    --headings-sizes-h3: 2.4rem;
    --headings-sizes-h4: 2.1rem;
    --headings-sizes-h5: 1.7rem;
    --headings-sizes-h6: 1.5rem;
    --input-bg: var(--orange-tint-2);
    --input-color: var(--navy);
    --input-fz: 1.4rem;
    --input-radius: 0.4rem;
    --input-padding: 1.1rem 1.2rem;
    --input-height: 4.2rem;
    --header-height: 12.8rem;
    --header-bg: var(--white);
    --header-color: var(--orange-shade-10);
    --header-padding: 1.2rem calc(var(--header-height) + 2rem);
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--base-text-color);
    background: var(--base-background-color);
    font: var(--base-font-size) / var(--base-line-height) var(--base-font-family);
    min-width: var(--base-min-width);
    letter-spacing: var(--base-ls);
}

img {
    max-width: 100%;
    height: auto;
}

.gm-style img {
    max-width: none;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.h {
    font-family: var(--heading-font);
    line-height: 1.2;
    margin: 0;
}

h1,
.h1 {
    font-size: var(--headings-sizes-h1);
}

h2,
.h2 {
    font-size: var(--headings-sizes-h2);
}

h3,
.h3 {
    font-size: var(--headings-sizes-h3);
}

h4,
.h4 {
    font-size: var(--headings-sizes-h4);
}

h5,
.h5 {
    font-size: var(--headings-sizes-h5);
}

h6,
.h6 {
    font-size: var(--headings-sizes-h6);
}

p {
    margin: 0;
}

a {
    color: var(--base-link-color);
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

small {
    font-size: 1.2rem;
    line-height: 1.8rem;
}

.icon {
    width: 100%;
    height: 100%;
    fill: currentColor;
    stroke: currentColor;
}

.green {
    color: var(--green);
}

.yellow {
    color: var(--yellow);
}

form,
fieldset {
    margin: 0;
    padding: 0;
    border-style: none;
    border-radius: 0.8rem;
}

form small,
fieldset small {
    font-weight: 600;
    display: block;
}

form small:not(:last-child),
fieldset small:not(:last-child) {
    margin-bottom: 0.8rem;
}

label {
    font-size: 1.4rem;
    color: var(--input-color);
}

h6 {
    font-weight: 600;
    color: var(--navy);
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
textarea {
    display: flex;
    align-items: center;
    align-content: center;
    z-index: 0;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    box-sizing: border-box;
    font-family: var(--base-font-family);
    font-size: var(--input-fz);
    font-weight: 400;
    border: 0.1rem solid var(--orange-tint-6);
    /* border: none; */
    border-radius: var(--input-radius);
    padding: var(--input-padding);
    height: var(--input-height);
    outline: none;
    background-color: var(--input-bg);
    transition: all var(--base-transition-speed) ease;
    caret-color: var(--orange-100);
}

input[type='text']::-webkit-input-placeholder,
input[type='tel']::-webkit-input-placeholder,
input[type='email']::-webkit-input-placeholder,
input[type='search']::-webkit-input-placeholder,
input[type='password']::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: var(--navy);
    opacity: 0.64;
}

input[type='text']::-moz-placeholder,
input[type='tel']::-moz-placeholder,
input[type='email']::-moz-placeholder,
input[type='search']::-moz-placeholder,
input[type='password']::-moz-placeholder,
textarea::-moz-placeholder {
    opacity: 1;
    color: var(--navy);
    opacity: 0.64;
}

input[type='text']:-moz-placeholder,
input[type='tel']:-moz-placeholder,
input[type='email']:-moz-placeholder,
input[type='search']:-moz-placeholder,
input[type='password']:-moz-placeholder,
textarea:-moz-placeholder {
    color: var(--navy);
    opacity: 0.64;
}

input[type='text']:-ms-input-placeholder,
input[type='tel']:-ms-input-placeholder,
input[type='email']:-ms-input-placeholder,
input[type='search']:-ms-input-placeholder,
input[type='password']:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: var(--navy);
    opacity: 0.64;
}

input[type='text'].placeholder,
input[type='tel'].placeholder,
input[type='email'].placeholder,
input[type='search'].placeholder,
input[type='password'].placeholder,
textarea.placeholder {
    color: var(--navy);
    opacity: 0.64;
}

input[type='text']:focus,
input[type='text']:focus:required:invalid,
input[type='text'].invalid,
input[type='tel']:focus,
input[type='tel']:focus:required:invalid,
input[type='tel'].invalid,
input[type='email']:focus,
input[type='email']:focus:required:invalid,
input[type='email'].invalid,
input[type='search']:focus,
input[type='search']:focus:required:invalid,
input[type='search'].invalid,
input[type='password']:focus,
input[type='password']:focus:required:invalid,
input[type='password'].invalid,
textarea:focus,
textarea:focus:required:invalid,
textarea.invalid {
    border-color: var(--orange-100);
    background-color: var(--white);
}

input[type='text']:required:valid,
input[type='text'].valid,
input[type='tel']:required:valid,
input[type='tel'].valid,
input[type='email']:required:valid,
input[type='email'].valid,
input[type='search']:required:valid,
input[type='search'].valid,
input[type='password']:required:valid,
input[type='password'].valid,
textarea:required:valid,
textarea.valid {
    border-color: var(--orange-tint-10);
    background-color: var(--white);
}

.ExtraStyledInput {
    background-color: white !important;
    border: 1px solid #D6D6D6;
    /* width: 200px !important; */
}

label {
    margin-bottom: 6px;
}

select {
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    appearance: none;
    display: flex;
    align-items: center;
    align-content: center;
    z-index: 0;
    box-sizing: border-box;
    font-family: var(--base-font-family);
    /* font-size: var(--input-fz); */
    font-weight: 400;
    border-radius: var(--input-radius);
    padding-left: 16px !important;
    height: var(--input-height);
    outline: none;
    background-repeat: no-repeat;
    background-position: center right 0.5rem;
    background-size: 1rem 0.5rem;
    cursor: pointer;
    font-size: 15px !important;
    background-color: var(--orange-tint-2) !important;
    color: #828282 !important;

}

.ql-toolbar {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.ql-container {
    height: 180px !important;
    border: none !important;

}

.ql-editor {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1px solid #CCCCCC;
    border-top: none;
}


.ql-editor:focus {
    border: 1px solid var(--orange-100);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.textEditorOuter {
    position: relative;
}

select:focus {
    border: none !important;
    box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.82) !important;
}

textarea {
    resize: none;
    vertical-align: top;
    min-height: 10rem;
}

.checkboxGroup {
    border: 1px solid var(--orange-tint-30);
    background-color: var(--orange-tint-2);
    margin-bottom: 8px;
}


.checkboxGroup label {
    margin: 0 !important;
    width: 100% !important;
    padding: 8px 12px;
    cursor: pointer;
}

.radioGroups {
    width: 100%;
    border: 2px solid var(--orange-tint-30);
    padding: 6px 12px;
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 2px;
}

input[type='checkbox']:focus {
    /* outline: none !important;
    border: none !important; */
    box-shadow: none !important;
}

input[type='checkbox']:after {
    width: 16px;
    height: 16px;
    top: -2px;
    left: -2px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid var(--orange-tint-20);
    transition: linear 0.1s;
}

input[type='checkbox']:checked:after {
    width: 16px;
    height: 16px;
    top: -1px;
    left: -2px;
    position: relative;
    background-color: var(--orange-100);
    border: none !important;
    background: var(--orange-100) url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+DQo8c3ZnIHdpZHRoPSIxMiIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgMTIgOSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiAgPHBhdGggZD0iTTQuNTc1IDguOTc3cy0uNDA0LS4wMDctLjUzNi0uMTY1TC4wNTcgNS42NGwuODI5LTEuMjI3TDQuNDcgNy4yNjggMTAuOTIxLjA4NmwuOTIzIDEuMTAzLTYuODYzIDcuNjRjLS4xMzQtLjAwMy0uNDA2LjE0OC0uNDA2LjE0OHoiIGZpbGw9IiNGRkYiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPg0KPC9zdmc+) 40% 40% no-repeat;
}















.selectedRadioGroups {
    border: 2px solid var(--orange-100);
}

.selectedRadioGroups label {
    margin-bottom: 0;
    color: var(--navy) !important;
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.radioGroups label {
    margin-bottom: 0;
    color: #7E8691;
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

input[type='radio']:after {
    width: 13px;
    height: 13px;
    border-radius: 15px;
    top: -3px;
    left: -0px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid var(--orange-tint-20);
}

input[type='radio']:checked:after {
    width: 13px;
    height: 13px;
    border-radius: 15px;
    top: -4px;
    left: 0;
    position: relative;
    background-color: var(--orange-100);
    content: "";
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
    box-shadow: 0 0 0 2px var(--orange-100);
}

button[type='submit'],
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    font-family: var(--form-font-family);
    background-color: var(--orange-100);
    color: var(--white);
    border-radius: 0.8rem;
}

button[type='submit'][disabled],
input[type='button'][disabled],
input[type='reset'][disabled],
input[type='file'][disabled],
input[type='submit'][disabled] {
    background-color: var(--orange-tint-20);
    cursor: not-allowed;
}

.border-btn {
    background: white;
    border: 2px solid var(--orange-100) !important;
    color: var(--orange-100) !important;
    padding: 2px 16px;
    font-size: 12px;
    border-radius: 4px;
    font-weight: 700;
}

.border-btn:hover {
    background-color: var(--orange-100);
    color: white !important;
}



.datalist-table_wrap {
    height: auto;
    overflow: hidden;
    /* border: 0.1rem solid !important; */
    border-radius: 8px;
    margin-bottom: 4rem;
    /* border: 1px solid #DEE2E6; */
}

.table-group {
    border: 1px solid #DEE2E6;
}

.tableHead {
    background-color: var(--navy) !important;
    color: white !important;
}

.datalist-table {
    /* position: relative; */
    /* width: 100%; */
    /* border-radius: 50px !important; */
    background: var(--color-white);
    overflow-x: hidden;
    letter-spacing: .04em;
    margin-bottom: 0;
    font-size: 13px;
}

.datalist-table th,
td {
    padding: 8px 14px !important;
}

.tableResendBtn {
    background-color: var(--orange-100);
    padding: 4px 18px;
    border: none !important;
    color: white;
    border-radius: 4px;
}

.tableDeleteBtn {
    background: #EB5757;
    border-radius: 4px;
    padding: 0.6rem 1rem;
    color: #fff;
    stroke: none;
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 18px;
    background: var(--color-white);
    font-size: 13px;
    border: 1px solid #DEE2E6;
    border-top: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

@keyframes rippleEffect {
    0% {
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(var(--scale));
    }
}

.form {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-helper {
    position: relative;
    display: block;
    padding: 0 2.1rem !important;
    font-weight: 600;
    color: var(--black);
}

.form-helper:not(:last-child) {
    margin-bottom: 2rem;
}



.form__group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.9rem;
}

.form__group--checkboxes {
    margin-bottom: 2rem;
}

.form__group>* {
    padding: 0 0.9rem;
}

.form__field {
    position: relative;
    width: 100%;
    margin-bottom: 1.6rem;
}

.form__field--half {
    width: calc(50% - 0.9rem);
}

.form__field--floating-label {
    padding-top: 2.6rem;
}

.form__field--floating-label label {
    position: absolute;
    opacity: 0.64;
    left: 0;
    top: 0;
    transform: translate(1.2rem, 3.6rem);
    transition: all var(--base-transition-speed) ease-in-out;
    pointer-events: none;
}

.form__field--floating-label input::placeholder,
.form__field--floating-label textarea::placeholder {
    color: transparent;
    opacity: 0;
}

.form__field--floating-label input:focus~label,
.form__field--floating-label input:not(:placeholder-shown)~label,
.form__field--floating-label textarea:focus~label,
.form__field--floating-label textarea:not(:placeholder-shown)~label {
    opacity: 1;
    transform: translate(0, 0);
}

.form__field--floating-label input:-webkit-autofill~label,
.form__field--floating-label textarea:-webkit-autofill~label {
    opacity: 1;
    transform: translate(0, 0);
}

.form__field.helpers {
    padding-top: 0.9rem;
}

.form__field.helpers:last-child {
    margin-bottom: 0;
}

.form__field.helpers .forgot,
.form__field.helpers .later {
    text-align: center;
    font-size: 1.4rem;
}

.form__field-help {
    position: relative;
    width: 100%;
    opacity: 0.87;
    padding: var(--input-padding);
}

.form__field.buttons {
    padding-top: 0.9rem;
}

.form__field.buttons:last-child {
    margin-bottom: 0;
}

.form__field.buttons button {
    width: 100%;
}

.password-show {
    position: absolute;
    right: 1.2rem;
    top: 3.7rem;
    width: 2.2rem;
    height: 2.2rem;
    -webkit-mask-size: contain;
    -webkit-mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    background-color: currentColor;
    -webkit-mask-image: url('./assets/images/icons/icon-hiden.svg');
    mask-image: url('./assets/images/icons/icon-hiden.svg');
    cursor: pointer;
    outline: none;
    z-index: 1;
    color: var(--navy);
    opacity: 0.64;
}

.password-show.active {
    opacity: 1;
    -webkit-mask-image: url('./assets/images/icons/icon-visible.svg');
    mask-image: url('./assets/images/icons/icon-visible.svg');
}

.password-message {
    position: absolute;
    display: none;
    right: 6rem;
    height: 2rem;
    bottom: 1.4rem;
    text-align: right;
    z-index: 2;
    opacity: 0.64;
    color: var(--orange-shade-100);
}

.password-message.show {
    display: block;
}

.checkboxes {
    position: relative;
    display: grid;
    grid-template-columns: repeat(var(--i), 1fr);
    grid-column-gap: 0.6rem;
    grid-row-gap: 0.6rem;
}

.checkboxes:not(:first-child) {
    margin-top: 0.8rem;
}

.checkboxes--bordered .checkbox {
    padding: 0;
}

.checkboxes--bordered .checkbox-text {
    padding: 1.3rem 1.2rem 1.1rem 4rem !important;
    border: 0.1rem solid var(--orange-tint-20);
    color: var(--navy);
}

.checkboxes--bordered .checkbox-text:before {
    left: 1.2rem !important;
}

.checkboxes--bordered .checkbox input:checked~.checkbox-text {
    border-color: var(--orange-100);
}

.checkboxes--bordered .checkbox:hover .checkbox-text {
    background-color: var(--orange-tint-2);
}

.checkbox {
    position: relative;
    padding: 0.9rem 0 0 0;
}

.checkbox input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}

.checkbox input:checked~.checkbox-text:before {
    background-color: var(--orange-100);
    -webkit-mask-image: url('./assets/images/icons/checked-true.svg');
    mask-image: url('./assets/images/icons/checked-true.svg');
}

.checkbox label {
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    font-weight: 600;
    height: 100%;
}

.checkbox label .checkbox-text {
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    height: 100%;
    width: 100%;
    padding-left: 3.3rem;
}

.checkbox label .checkbox-text:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 1.8rem;
    height: 1.8rem;
    -webkit-mask-size: contain;
    -webkit-mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    transition: all 0.15s linear;
    background-color: var(--orange-tint-30);
    -webkit-mask-image: url('./assets/images/icons/checked-false.svg');
    mask-image: url('./assets/images/icons/checked-false.svg');
}

.checkbox label:hover {
    cursor: pointer;
}

.checkbox label:hover .radio-text:before {
    background-color: var(--orange-100);
}

.radios {
    position: relative;
    display: grid;
    grid-template-columns: repeat(var(--i), 1fr);
    grid-column-gap: 0.6rem;
    grid-row-gap: 0.6rem;
}

.radios:not(:first-child) {
    margin-top: 0.8rem;
}

.radios--bordered .radio {
    padding: 0;
}

.radios--bordered .radio-text {
    padding: 1.3rem 1.2rem 1.1rem 4rem !important;
    border: 0.1rem solid var(--orange-tint-20);
    color: rgba(53, 66, 83, 0.64);
}

.radios--bordered .radio-text:before {
    left: 1.2rem !important;
}

.radios--bordered .radio input:checked~.radio-text {
    border-color: var(--orange-100);
}

.radios--bordered .radio:hover .radio-text {
    background-color: var(--orange-tint-2);
}

.radio {
    position: relative;
    padding: 1.2rem 0;
    color: var(--navy);
}

.radio input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}

.radio input:checked~.radio-text:before {
    background-color: var(--orange-100);
    -webkit-mask-image: url('./assets/images/icons/radio--true.svg');
    mask-image: url('./assets/images/icons/radio--true.svg');
}

.radio label {
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    font-weight: 600;
}

.radio label .radio-text {
    position: relative;
    width: 100%;
    padding-left: 3.3rem;
    transition: all 0.15s linear;
}

.radio label .radio-text:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 1.8rem;
    height: 1.8rem;
    -webkit-mask-size: contain;
    -webkit-mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    transition: all 0.15s linear;
    background-color: var(--orange-tint-30);
    -webkit-mask-image: url('./assets/images/icons/radio--false.svg');
    mask-image: url('./assets/images/icons/radio--false.svg');
}

.radio label:hover {
    cursor: pointer;
}

.radio label:hover .radio-text:before {
    background-color: var(--orange-100);
}

.button {
    position: relative;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 0.8rem;
    font-size: 1.8rem;
    font-weight: 700;
    text-decoration: none;
    outline: none;
    border: none;
    padding: 8px;
}

.button-text,
.button-icon {
    position: relative;
    z-index: 1;
}

.button-navy {
    background-color: var(--navy);
    color: var(--white);
}

.button-primary {
    background-color: var(--orange-100);
    color: var(--white);
}

.button-light {
    background-color: var(--orange-tint-2);
    color: var(--navy);
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    padding-top: var(--header-height);
}

.section {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 3.2rem 4rem;
}

.container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    max-width: 130rem;
}

/*Retailer*/
.retailer-page .header {
    box-shadow: none;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: var(--header-height);
    background-color: var(--header-bg);
    box-shadow: 0 0.1rem 0 rgba(0, 0, 0, 0.12);
    padding: var(--header-padding);
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
    color: var(--header-color);
}

.header__logo {
    position: absolute;
    right: 0;
    top: 0;
    height: var(--header-height);
    width: calc(var(--header-height) + 2rem);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.header__logo picture {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.header__logo img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.subheader {
    position: relative;
    width: 100%;
    background-color: var(--header-bg);
    box-shadow: 0 0.1rem 0 var(--orange-tint-10);
    padding: 1.6rem 4rem;
}

.text-message {
    position: relative;
    width: 100%;
    color: var(--orange-shade-20);
}

.info-window {
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    max-width: 57.6rem;
    width: 100%;
    background-color: var(--white);
    padding: 1.6rem;
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.12);
    border-radius: 0.4rem;
    color: var(--orange-shade-20);
}

.info-window p,
.info-window li {
    font-size: 1.4rem;
    line-height: 1.8rem;
}

.info-window__text {
    position: relative;
    flex: 1;
    padding-right: 2.4rem;
}

.info-window__icon {
    position: relative;
    align-self: flex-start;
    width: 2.4rem;
}

.info-window__icon .icon {
    width: 2.4rem;
    height: 2.4rem;
}

.info-bar {
    position: relative;
    width: 100%;
    background-color: var(--header-bg);
    padding: 1.6rem 4.8rem;
}

.info-bar-container {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.info-bar__item {
    position: relative;
    display: flex;
    font-weight: 600;
    color: var(--navy);
}

.info-bar__item:not(:last-child) {
    margin-right: 2.4rem;
}

.info-bar__item:nth-child(2n) {
    color: var(--orange-100);
}

.info-bar__icon {
    min-width: 2.4rem;
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 1.2rem;
}

.sign__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.sign__content>*:not(:last-child) {
    margin-bottom: 2.4rem;
}

.sign__form {
    position: relative;
    width: 100%;
    max-width: 57.6rem;
    background-color: var(--white);
    padding: 2.4rem;
}

.primary__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.primary__content>*:not(:last-child) {
    margin-bottom: 2.4rem;
}

.primary__content .button {
    width: 100%;
}

.primary__text {
    position: relative;
    width: 100%;
    max-width: 57.6rem;
    padding: 2.4rem;
}

.primary__form {
    position: relative;
    width: 100%;
    max-width: 57.6rem;
    background-color: var(--white);
    padding: 2.4rem;
}

.primary__form--wide {
    max-width: 100%;
    padding: 2.4rem 0;
}

.primary__form.no-bg {
    background-color: transparent;
}

.error-text {
    color: var(--red);
    font-size: 12px;
}

@media (hover: hover) and (pointer: fine),
(-ms-high-contrast: none),
(-ms-high-contrast: active) {
    a:hover {
        text-decoration: none;
    }
}

@media screen and (max-width: 767px) {
    .form__field--half {
        width: calc(100% - 0rem);
    }

    .checkbox label .checkbox-text {
        flex-wrap: wrap;
    }

    .header {
        align-items: center;
        padding-left: 0;
    }

    :root {
        --headings-sizes-h1: 3rem;
    }

    .section {
        padding: 3.2rem 1rem;
    }
}

@media screen and (max-width: 550px) {

    :root {
        --headings-sizes-h1: 2rem;
    }

    .section {
        padding: 1rem;
    }
}